* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Chat Container */
.chat-container {
    width: 380px;
    height: 520px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

/* Header */
.chat-header {
    background: #df8013;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Body */
.chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #2B2B2B;
}

/* Messages */
.user-message {
    background: darkblue;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 8px 0;
    align-self: flex-end;
    max-width: 70%;
}

.bot-message {
    background: #e5e5ea;
    color: black;
    padding: 10px;
    border-radius: 15px;
    margin: 8px 0;
    max-width: 70%;
}

/* Footer */
.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.chat-footer button {
    margin-left: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    background: #07d2a3;
    color: white;
    cursor: pointer;
}

.chat-footer button:hover {
    background: #357abd;
}
